.back-button {
    margin-bottom: 10px;
}

.anime {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.anime-title {
    
    p {
        font-size: 35px;
        font-weight: bold;
    }
}

.anime-poster {

    img {
        height: 40vh;
        width: auto;
    }
}

.anime-avarage {

}

.anime-start {

}

.anime-end {

}

.anime-status {

}
