.app {
    display: flex;
    padding: 10px;
}

.app-content {
    width: 100%;
    height: calc(100vh - 84px);
}

.themeToggleForm {
    align-items: center
}

.themeToggle {
    margin: 0px !important;
}

.toolbar {
    display: flex;

    .space {
        flex-grow: 1;
    }
}